<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Caffe Artis</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">
            <img src="logo.png" width="110" height="30" class="d-inline-block align-top" alt="">
        </a>
        <form>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">          
        </form>
        <a href="#addTransaction" class="btn btn-warning text-white" data-toggle="modal">ADD</a>
      </nav>
      
      <div class="container">
        <table class="table table-borderless" border="1" id="mytable">
            <thead>
                <tr class="bg-warning text-white">
                    <th>No</th>
                    <th>Cashier</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}
                <tr>       
                    <td>{{ id }}</td>
                    <td>{{ cashier }}</td>
                    <td>{{ product }}</td>
                    <td>{{ category }}</td>
                    <td>Rp.{{ price }}</td>
                    <td>
                        <a href="#editModal" class="edit" data-id="{{ id }}" data-product_name="{{ product }}" data-product_price="{{ price }}" data-id_category="{{ id_cat }}" data-id_cashier="{{ id_cas }}"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a href="#deleteTransaction" class="delete" data-id={{ id }}><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                    </td>
                </tr>
                {{/each}}       
            </tbody>
        </table>    
      </div>

      <div id="addTransaction" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="/save" method="POST">
					<div class="modal-header">						
						<h4 class="modal-title">ADD</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
                            <select name="id_cashier" class="form-control">
                                {{#each dataCashier}} 
                                <option value='{{id}}'>{{name}}</option> 
                                {{/each}}
                            </select>
						</div>
						<div class="form-group">
                            <select name="id_category" class="form-control">
                                {{#each dataCategory}} 
                                <option value='{{id}}'>{{name}}</option> 
                                {{/each}}
                            </select>
						</div>
						<div class="form-group">
							<input type="text" name="name" class="form-control" placeholder="Product">
						</div>
						<div class="form-group">
							<input type="number" name="price" class="form-control" placeholder="Price">
						</div>					
					</div>
					<div class="modal-footer">
						<input type="submit" class="btn btn-warning text-white" value="ADD">
					</div>
				</form>
			</div>
		</div>
    </div>
    
   <form action="/update" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">EDIT</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
					<select name="id_cashier" class="form-control id_cashier">
                        {{#each dataCashier}} 
                        <option value='{{id}}'>{{name}}</option> 
                        {{/each}}
                    </select>
				</div>
				<div class="form-group">
                    <select name="id_category" class="form-control id_category">
                    {{#each dataCategory}} 
                        <option value='{{id}}'>{{name}}</option> 
                    {{/each}}
                    </select>
				</div>
              <div class="form-group">
                  <input type="text" name="name" class="form-control name" placeholder="Product Name">
              </div>
              <div class="form-group">
                  <input type="number" name="price" class="form-control price" placeholder="Price">
              </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="id" class="product_id">
				<input type="submit" class="btn btn-warning text-white" value="EDIT">
            </div>
          </div>
        </div>
       </div>
  </form>

	<form id="add-row-form" action="/delete" method="post">
         <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">DELETE</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                        <strong>Anda yakin mau menghapus data ini?</strong>
                   </div>
                   <div class="modal-footer">
                        <input type="hidden" name="product_id" class="form-control product_id2">
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                   </div>
            </div>
         </div>
     </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function(){
            //tampilkan data ke modal untuk edit
      $('#mytable').on('click','.edit',function(){
        var product_id = $(this).data('id');
        var product_name = $(this).data('product_name');
        var product_price = $(this).data('product_price');
        var id_category = $(this).data('id_category');
        var id_cashier = $(this).data('id_cashier');
        $('#EditModal').modal('show');
        $('.name').val(product_name);
        $('.price').val(product_price);
        $('.product_id').val(product_id);
        $('.id_cashier').val(id_cashier);
        $('.id_category').val(id_category);
      });
            //tampilkan modal hapus record
            $('#mytable').on('click','.delete',function(){
        var product_id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.product_id2').val(product_id);
      });
 
    });
    </script>
  </body>
</html>